# Ignore Python cache
__pycache__/
*.pyc

# Ignore data
data/raw/
data/processed/
data/processed/heuristics_results*.csv
data/processed/*.parquet
data/baselines/*.pkl

# VS Code
.vscode/

# ML run artifacts
results/ml/**
!results/ml/.gitkeep

figures/ml/**
!figures/ml/.gitkeep

# legacy outputs (ignore future runs)
results/*.png
results/*.csv
figures/dataset_stats/*
